/* Desktop Navbar Styles */

.navbar {
    background-color: #B2AC88;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.6s ease-in-out;
}

.navbar-container {
    background-color: Ivory;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FF5722;
    margin-right: 20px;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-logo-img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-logo-text {
    position: relative;
}

.navbar-logo-text::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #FF5722;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-logo:hover .navbar-logo-text::after {
    width: 100%;
}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-link {
    color: #FF5722;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #FF5722;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
}

.navbar-button {
    background-color: Ivory;
    color: #FF5722;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #FF5722;
    margin-left: auto;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.navbar-button:hover {
    background-color: #FF5722;
    color: #fff;
    border-color: #fff;
    transform: scale(1.05);
}

/* Media Query: Hide desktop navbar on mobile devices */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}
